
body{
    background: #444;
}

img{
    float: left;
    width: 40%; 
    transition: width 2s;
}



h1{
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    font-family: arial, helvetica;
    width: 300px auto;
    margin: 50px auto;
}

h2{
    text-align: center;
    font-weight: inherit;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.2em;    
}

p{
    text-align: center;
}

  
  


#grid-floats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    float: left;
    color: black;
    grid-gap: 2rem;
    margin: 1rem;
    padding: 0;
    width: 100%;
    grid-column: 1;
    background-color: blue;    
}


#grid-floats > .grid-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: steelblue;
}

.grid-item:nth-child(2){
    width: fr 2;
    padding: 1em;
}
